@{
    ViewData["Title"] = "About Me";
}

<div class="container">
    <h1 class="heading-dark-blue">About Me</h1>
    <h2 class="subheading-light-blue">Molly Van De Wiele</h2>
    <p class="light-blue-text">School: University of Oklahoma (OU), Price College of Business</p>
    <p class="light-blue-text">Expected Graduation May 2025</p>
    <p class="light-blue-text">Degree:</p>
    <div class="degree-info light-blue-text">
        <p>Major: Management Information Systems</p>
        <p>Undergraduate Certificate: Legal Studies</p>
    </div>
    <p class="light-blue-text">GPA: 3.97/4.00</p>
    <p class="light-blue-text">Specialized coursework: Programming, Databases, Computer-Based Information Systems, Marketing, Brand Management</p>
</div>
