@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 class= "heading-dark-blue"> Welcome to My Personal Website</h1>
    <p class="light-blue-text"> My name is Molly Van De Wiele and I am a senior at the University of Oklahoma. I am studying Management Information Systems, while also earning a certificate in Legal Studies. I am currently looking for a job to gain experience and enhance interpersonal skills. I am a results driven leader with a proven
    ability to succeed in work, academic, and philanthropic environments. I am highly motivated, outgoing, and ready for any challenge.</p>
    <img src="/images/OIP.jpg" alt="Professional Photo" class="img-thumbnail">
</div>

