@{
    ViewData["Title"] = "My Projects";
}

<div class="container mt-4">
    <h1 class="heading-dark-blue">Projects</h1>

    <div class="accordion" id="projectsAccordion">

     
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed heading-dark-blue" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    MIS Database Project - Price College of Business
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#projectsAccordion">
                <div class="accordion-body light-blue-text">
                    <ul>
                        <li>Consulted with team members to determine specific project needs</li>
                        <li>Collaborated as a team to explore project options and generate solutions</li>
                        <li>Presented and explained findings to leaders and peers</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed heading-dark-blue" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Claroty Project - Williams, Inc.
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#projectsAccordion">
                <div class="accordion-body light-blue-text">
                    <ul>
                        <li>Worked alongside team members to determine specific project needs</li>
                        <li>Created scans in Claroty for asset detection</li>
                        <li>Pushed out and monitored scans in Claroty to ensure field site protection</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed heading-dark-blue" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Innovation Challenge - ConocoPhillips
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#projectsAccordion">
                <div class="accordion-body light-blue-text">
                    <ul>
                        <li>Worked and collaborated with teammates from different universities to solve company problems</li>
                        <li>Created an innovative solution to reduce the amount of repairs and increase the drilling for a well site</li>
                        <li>Utilized Python and Excel to analyze large amounts of data in order to come to a concise conclusion</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

